# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Static files
staticfiles/

*.env
backend/web/documents/data.txt
backend/web/documents/lancedb_storage